{% extends "layout.html" %}

{% block content %}
<div id='select_container'>
    <div class='row'>
        <div class='col-md-12'>
            <ul class="progressbar">
                <li>Create Playlist</li>
                <li class="active">Select Playlist</li>
                <li>Study Session</li>
            </ul>
        </div>
    </div>
    <div id='playlist_content'>
        <div class='row'>
            <div class='col-md-4'>
                <h1>Play a tomato timer! Or <span id='create_highlight'><a href='make_tomato'>create another one.</a></span></h1>
            </div>
            <!-- First column -->
            <div class='col-md-8'>
                <!-- Playlists -->
                <div id='tomatoes'>
                        
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}